@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

*{
  font-family: "JetBrains Mono", monospace;
}

body{
  margin : 0;
  background: #F0EBFF; 
  color: #1f2937;
}



